<?xml version="1.0" encoding="utf-8"?>
<Wix
  xmlns="http://wixtoolset.org/schemas/v4/wxs"
  xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
  <Bundle
    Name="$(var.BundleName)"
    Manufacturer="$(var.Manufacturer)"
    Version="$(var.ProductVersion)"
    UpgradeCode="$(var.BundleUpgradeCode)"
    IconSourceFile="$(var.BrandIcon)">
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication
        LicenseUrl=""
        LogoFile="$(var.BrandLogo)"
        Theme="hyperlinkLicense" />
    </BootstrapperApplication>

    <Chain>
      <MsiPackage
        Id="DictateAnywhereApp"
        SourceFile="$(var.MsiPath)" />
    </Chain>
  </Bundle>
</Wix>
